body {
    background-color: grey;
    text: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 10px double black ;
}

img {
    width: 300px;
    height: auto;
    border: 40px double black;
}

ul,
ol {
    list-style-type: none;
}